.box_main{
    border: 2px solid yellow;
}

.box_pagina{
    border: 2px solid red;

}

.box_topo{

    position: relative;
    left: 50px;
    background-color: #21272B;
    height: 65px;
    width: 890px;
}

.box_menuEsquerdo{

    position:relative;
    height: 100px;
    width: 200px;


}

.box_menuEsquerdo img{
    position: absolute;
    bottom: 37px;
    padding: 10px;

    height: 45px;
    width: 30px;

}

.box_menuEsquerdo h1{
    position: relative;
    top: 10px;
    left: 55px;

    font-size: 18px;
    font-style: italic;
    color: white;
    height: 50px;
    width: 125px;



}

.box_menuDireito{

    position: absolute;
    top: 400px;
    height: 50px;
    width: 800px;
}

.box_menuDireito ul{

    color: white;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 600px;
    left: 275px;
    bottom: 380px;

}

.box_menuDireito a{
    color: white;
    text-decoration: none;
}

.box_menuDireito li{

    margin-right: 20px;
    list-style: none;
}





.box_meio{
    position: relative;
    left: 50px;
    height: 450px;
    width: 890px;
    border: greenyellow solid 2px;

}

.box_meio img{
    width: 890px;

}

.box_background {
    height: 180px;
    width: 370px;
    position: absolute;
    right: 30px;
    top: 230px;
    background-color: #1A3243;
    
    
}

.box_textoTelefone h2{
    color: white;
    font-size: 20;
    width: 320px;
    position: absolute;
    right: 25px;
    top: 2px;
}

.box_textoTelefone img{
    color: white;
    height: 35px;
    width: 30px;
    position: absolute;
    bottom: 40px;
    left: 13px;
}

.box_textoTelefone p{
    color: white;
    height: 35px;
    width: 230px;
    position: absolute;
    left: 60px;
    top: 90px;
    font-size: 25;
}

.telefone{
    color: orange;
}








.box_baixo{
    border: 2px solid red;
    position: relative;
    left: 50px;
}

.box_destinos{
    border: 2px solid red;
}

.box_textoDestinos{
    border: 2px solid red;
}

.box_imgDestinos{
    border: 2px solid red;
}

.box_nossaFrota{
    border: 2px solid red;
}

.box_tituloNossaFrota{
    border: 2px solid red;
}

.box_textoNossaFrota{
    border: 2px solid red;
}

.box_imgNossaFrota{
    border: 2px solid red;
}

.box_img01{
    border: 2px solid red;
}

.box_img02{
    border: 2px solid red;
}

.box_img03{
    border: 2px solid red;
}

.box_img04{
    border: 2px solid red;
}

.box_rodape{
    border:
    position relative;
    left: 50px;
}